/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{box-sizing: border-box}
img{
    max-width: 100%;
    height: auto;
}

/*layout設計*/
:root{
    --color-primary: #3D1101;
    --color-background: #EFE9E7;
    --color-light: #F6F4F3;
}

.wrap{
    max-width: 1024px;
    margin: 0 auto;
}


/*header for pc size*/
.header{
    background-color: #00000075;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 42px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    max-width: 1024px;
    margin: 0 auto;
}
.menu ul{
    display: flex;
}
.menu a{
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 15px;
    padding: 6px 0;
    border-bottom: 3px solid transparent;
}
.menu a:hover{
    border-bottom: 3px solid white;
}
.logo a{
    background: url(../images/logo_w@svg.svg) no-repeat;
    display: block;
    width: 120px;
    height: 24px;
    background-size: contain;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.button{
    display: none;
    width: 24px;
    height: 24px;
    font-size: 24px;
}
/*header for tablet size*/
@media(max-width: 768px){
}
/*header for phone size*/
@media(max-width: 569px){
    .menu{
    max-height: 0px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #00000099;
    transition: all 2s;
    }
    .menu ul{
        flex-direction: column;
        margin-bottom: 10px;
    }
    .menu a{
        display: block;
        padding: 30px 10px;
    }
    .button{
        display: block;
    }
    .active .menu{
        max-height: 500px;
    }
}


/*banner for pc size*/
.banner{
    width: 100%;
    height: 420px;
    background: url(../images/header_desktop.png) no-repeat;
    background-position: center center;  
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner h2{
    background-color: #00000035;
    padding: 20px;
    line-height: 1.5;
    font-size: 36px;
    color: white;
    text-align: center;
}
.banner p{
    background-color: #00000035;
    color: white;
    text-align: center;
    line-height: 1.5;
    padding: 20px;
}
/*banner for tablet size*/
@media(max-width: 768px){
}
/*banner for phone size*/
@media(max-width: 569px){
    .banner{
        background: url(../images/header_mobile.png) no-repeat;
    }
}


/*footer for pc size*/
.footer{
    background: #EFE9E7;
    display: flex;
    justify-content: space-between;
    padding: 50px 43px;
}
.about{
    width: 33%;
}
.about h3, .contact h3{
    margin-bottom: 16px;
    font-size: 24px;
    color: var(--color-primary);
}
.about p{
    color: var(--color-primary);
    line-height: 1.5;
}
.contact{
    margin-left: 10px;
    width: 33%;
}
.contact a{
    display: block;
    margin: 3px;
    text-decoration: none;
    color: var(--color-primary);
}
.sns{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.sns h1 a{
    background: url(../images/logo_l@svg.svg)  no-repeat;
    display: block;
    width: 245px;
    height: 49px;
    background-size: contain;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.sns ul{
    margin-top: 22px;
    display: flex;
    justify-content: end;
}
.sns li a{
    display: block;
    font-size: 36px;
}
/*footer for tablet size*/
@media(max-width: 768px){
      .footer{
        flex-wrap: wrap;
      }
      .about{
        width: 48%;
      }
      .contact{
        width: 48%;
      }
      .sns{
        margin-top: 30px;
        width: 98%;
      }
}
/*footer for phone size*/
@media(max-width: 569px){
      .footer{
        flex-wrap: wrap;
      }
      .about{
        width: 99%;
        margin-bottom: 30px;
      }
      .contact{
        width: 99%;
        margin-bottom: 30px;
        margin-left: 0px;
      }
      .sns{
        width: 99%;
      }
}

/*.index-content: secret for pc size*/
.secret{
    padding: 20px;
    background-color: var(--color-background);
}
.line{
    margin: 60px auto;
    width: 50%;
    height: 1px;
    background: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.line>h3{
    line-height: 2;
    font-size: 20px;
    background-color: var(--color-background);
    padding: 5px;
    text-align: center;
    color: var(--color-primary);
}
.secret ul{
    display: flex;
    justify-content: space-around;
}
.secret li{
    text-align: center;
    width: 23%;
    padding: 10px 0;
}
.secret li h4{
    font-size: 18px;
    color: var(--color-primary);
    padding: 20px 0;
}
.secret li p{
    color: var(--color-primary);
    text-align: left;
    margin-bottom: 20px;
}
/*.index-content: secret for tablet size*/
@media(max-width: 768px){
    .secret ul{
        flex-wrap: wrap;
    }
    .secret li{
        width: 46%;
        margin-bottom: 15px;
    }
}
/*.index-content: secret for phone size*/
@media(max-width: 569px){
    .line{
        margin: 100px auto ;
        height: 0px;
    }
    .secret li{
        width: 98%;
    }
    .secret li p{
        width: 70%;
        margin: 0 auto;
    }
}

/*.index-content: chef for pc size*/
.chef{
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
}
.about-chef{
    padding: 80px 20px;
}
.about-chef h4{
    font-size: 20px;
    color: var(--color-background);
}
.about-chef h5{
    color: var(--color-background);
    padding-top: 5px;
}
.about-chef p{
    color: var(--color-background);
    padding-top: 16px;
    line-height: 1.5;
}
/*.index-content: chef for tablet size*/
@media(max-width: 768px){
 .chef{
    flex-direction: column;
    padding-top: 60px;
 }
 .about-chef{
    padding: 40px 20px;
 }
 .about-chef h4{
    text-align: center;
 }
 .about-chef h5{
    text-align: center;
 }
}
/*.index-content: chef for phone size*/
@media(max-width: 569px){
}

/*.index-content: review for pc size*/
.review{
    background-color: var(--color-background);
    padding-bottom: 30px;
}
.review h3{
    text-align: center;
    font-size: 24px;
    padding: 50px;
    color: var(--color-primary);
}
.reviewer{
    display: flex;
    justify-content: space-around;
}
.reviewer>li{
    padding: 0 25px;
    display: flex;
    width: 33%;
}
.reviewer img{
    width: 67px;
    height: 67px;
}
.reviewer h4{
    color: var(--color-primary);
    font-size: 18px;
    padding: 20px 10px;
}
.reviewer p{
    padding: 10px;
    line-height: 1.5;
    color: var(--color-primary);
}
.reviewer span{
    display: block;
    text-align: end;
    padding: 20px 0;
}
/*.index-content: review for tablet size*/
@media(max-width: 768px){
    .reviewer{
        flex-wrap: wrap;
    }
    .reviewer>li{
        width: 48%;
        padding-bottom: 20px;
    }
    .review{
        padding-bottom: 0px;
    }
}
/*.index-content: review for phone size*/
@media(max-width: 569px){
    .reviewer>li{
        width: 98%;
    }
}

/*.index-content: form for pc size*/
.form{
    background-color: var(--color-light);
    padding-bottom: 60px;
    color:var(--color-primary);
}
.form h3{
    text-align: center;
    font-size: 24px;
    padding: 50px;
    line-height: 1.5;
}
.form-inner{
    display: flex;
    padding: 0 3%;
    align-items: top;
}
.form-inner form{
    padding-left: 5%;
    width: 50%;
}
.form-inner label{
    display: block;
    margin-bottom: 6px;
}
.form-inner>form>input{
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
}
.form-radio input{
    width: 10%;
}
.form-submit{
    display: flex;
    justify-content: end;
    padding-top: 20px;
}
.button-cancel{
    color: white;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    background: #A09E9E;
    margin-right: 10px;
}
.button-confirm{
    color: white;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 5px 20px;
    background: #F56C23;
}
/*.index-content: form for tablet size*/
@media(max-width: 768px){
    .form-inner{
        flex-direction: column;
        align-items: center;
    }
    .form-inner form{
        width: 98%;
        padding-top: 10%;
        padding-left: 0%;
    }
    .form-radio input{
    width: 5%;
    }
}
/*.index-content: form for phone size*/
@media(max-width: 569px){
}